<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/login.css">
    <title>Admin Login</title>
</head>

<body>
    <center>
        <h1><a href="/" class="link-primary" role="button">Course Mania</a></h1>
    </center>
    <hr>
    <br><br>


    <center>
        <h1> LOGIN PAGE FOR ADMIN </h1>
    </center>
    <center>
        <form method="POST" action="#">
            <div class="admin_login">
                <br>
                <label>Username : </label>
                <input type="text" placeholder="Enter ID" name="adminID" autocomplete="off" required>
                <br><br>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="adminPass" required>
                <br><br>
                <button type="submit">Login</button>
                <button type="button" class="cancelbtn"> Cancel</button>
                <br>
            </div>
        </form>
        <div class="forgot-password">
            <a href="#"> forgot password? </a>
        </div>
    </center>
</body>

</html>