<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>HomePage</title>
</head>

<body>
    <center>
        <h1><a href="/" class="link-primary" role="button">Course Mania</a></h1>
    </center>
    <hr>
    <br><br>
    <br><br><br>
    <div class='homepage-links'>
        <a href="/student_login" class="btn btn-outline-primary btn-lg btn-block" role="button">STUDENT LOGIN PAGE</a>
        <a href="/teacher_login" class="btn btn-outline-secondary btn-lg btn-block" role="button">TEACHER LOGIN PAGE</a>
        <a href="/admin_login" class="btn btn-outline-success btn-lg btn-block" role="button">ADMIN LOGIN PAGE</a>
    </div>
</body>

</html>