 {% extends 'base_login.html' %} {% block login %}

<div class="container">
    <h3 align="center">Show All ASSESSMENTS of {{student_name}}({{student_id}})</h3>
    <br />
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Semester</th>
                            <th>Type</th>
                            <th>Deadline</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in assesments %}
                        <tr>
                            {% for cell in row%}
                            <td>
                                {{cell}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br />
<br /> {% endblock %}