<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title_bar }}</title>
    <!-- !BootStrap! -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- !BootStrap! -->
    <style>
        .clx {
            padding: 15% 20% 15%
        }
        
        form {
            padding: 10% 5% 12%;
        }
    </style>
</head>

<body>
    <!-- !NAVIGATION BAR! -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">CourseMania</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item secondary">
                    <a class="nav-link" href="/student_login">STUDENT<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item secondary">
                    <a class="nav-link" href="/teacher_login">TEACHER</a>
                </li>
                <li class="nav-item secondary">
                    <a class="nav-link" href="/admin_login">ADMIN</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- !NAVIGATION BAR! -->




    <form action="/add_course_request" method="POST">
        <h3>
            Add your desired course...
        </h3>
        <div class="form-group row">
            <label class="col-4 col-form-label" for="course">Course</label>
            <div class="col-8">
                <input id="course" name="course" type="text" class="form-control" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label for="semester" class="col-4 col-form-label">Semester</label>
            <div class="col-8">
                <input id="semester" name="semester" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>


</body>

</html>